<div class="overlay">
  <div style="margin:0 auto; background-color: #fff; width: 500px; margin-top: 100px">
    <h2>&nbsp;&nbsp;Login </h2>
    <!--Step 1 : Adding HTML-->
    <form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)">

      <div class="container">
        <div class="form-horizontal">
          <div class="form-group" style="width:450px; margin-left:inherit">
            <label><b>Email Id</b></label>
            <input type="email" placeholder="Enter EmailId" name="email" #emailRef="ngModel" ngModel class="form-control" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
            <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" style="text-align:left; padding-top:5px; color:red;">
              <div [hidden]="!emailRef.errors.required">
                <p>&nbsp;Email id is mandatory</p>
              </div>
              <div [hidden]="!emailRef.errors.pattern">
                <p>&nbsp;Email id entered is not in proper format.</p>
              </div>
            </div>
          </div>

          <div class="form-group" style="width:450px; margin-left:inherit">
            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pwd" #pwdRef="ngModel" ngModel class="form-control" required>
            <div *ngIf="pwdRef.errors && (pwdRef.dirty || pwdRef.touched)" style="text-align:left; padding-top:5px; color:red;">
              <div [hidden]="!pwdRef.errors.required">
                <p>&nbsp;Password is mandatory</p>
              </div>
            </div>
          </div>
          <div class="form-group" style="width:450px; margin-left:inherit">
            <button type="submit" class="btn btn-default btn-primary" style="background-color: #4CAF50;" [disabled]="loginForm.invalid">Login</button>
            <input type="checkbox" checked="checked"> Remember me
          </div>
        </div>
      </div>

      <div class="container" style="background-color:#f1f1f1; width:495px; height: 100px; margin-left:inherit">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>
  <div *ngIf="res">
    Login Successful!!
  </div>
  <div *ngIf="err">
    <h4 style="text-align:center; color: red; text-shadow: inherit">Try with correct EmailId and Password!!</h4>
  </div>
</div>
