<header>
  <div class="wrapper">
    <div class="logo">
      <img src="https://i.postimg.cc/GpdP362Q/logo.png" alt="">
    </div>
    <ul class="nav-area">
      <li><a href="#">Home</a></li>
      <li><a routerLink="/viewProduct">Products</a></li>
      <li><a routerLink="/viewCart">Cart</a></li>
      <li><a routerLink="/viewOrders">My Orders</a></li>
      <li><a (click)="logOut()">Log Out</a></li>
    </ul>
  </div>
  <div class="welcome-text">
    <h1>
      Shop easier
    </h1>
    <a href="#">Contact US</a>
  </div>
</header>
